<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Себек, ты дома!</a>
          <a class="nav-link" href="/big-balls">Большие яйца</a>
        </nav>
    </div>
    <p>Лееее вацок. Это мой первый сайт. И это главная страница</p>
    <ul>
        <li>
            Себек
        </li>
        <li>
            Сережа нульадын
        </li>
        <li>
            Бебек
        </li>
    </ul>
</body>
</html>