{% extends 'first_app/base.html' %}

{% block title %}
    Начальая страница
{% endblock %}

{% block content %}
<div class="inner">
    <h3 class="masthead-brand">Cover</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="/">Себек, ты дома!</a>
      <a class="nav-link" href="/big-balls">Большие яйца</a>
    </nav>
</div>
{% endblock %}
    
{% block p %}
Лееее вацок. Это мой первый сайт. И это главная страница
{% endblock %}

{% block list %}
<ul>
    <li>
        Себек
    </li>
    <li>
        Сережа нульадын
    </li>
    <li>
        Бебек
    </li>
</ul>
{% endblock %}